derivatives/
output_logs/
all_data/
python_seed_map*
matlab_seed_map/
generate_dconns.sh
convert_hdf5_to_matlab.py
README_matlab.md
open_h5.py
seepmap_dif_y0_vs_y2.dscalar.nii
seedmap_dif_y0_vs_y2.dconn.nii
compare_seed_matrix.py
convert_seedmap_to_dscalar.py


sub-5T*
*.asv
age_*
*.png
